@import "variables";
@import "main-styles";

#component {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    background: #fff;
    border-radius: 0.5rem;
    max-width: 70%;
    margin: auto;
    padding: 2rem 6rem 2rem 3rem;
    overflow: hidden;

    .header {
      grid-column: 1/3;

      .subtitle {
        color: $bright-yellow;
        font-size: 1.5rem;
        padding: 1rem 0;
        font-weight: 700;
      }
    }
  }
}
